.row {
    display   : flex;
    width     : 200px;
    margin-top: -1px;
}

.house {
    flex       : 1;
    padding    : 5px;
    border     : 1px solid black;
    margin-left: -1px;
    text-align : center;
    cursor     : pointer;
}

.house.unavailable {
    cursor: no-drop;
}

.house.rail {
    font-weight: bold;
    color      : red;
}

.message {
    color      : red;
    font-weight: bold;
}